body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100vh;
}

#main-heading {
  margin-bottom: 20px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 120px 100px;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 10px;
  align-items: center;
}

#todo-input,
#todo-date {
  font-size: 15px;
  padding: 10px 5px;
}

.btn-delete {
  background-color: rgb(87, 4, 4);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
}

.btn-todo {
  background-color: rgb(5, 119, 19);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
}
